In [1]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /Users/sibasissahu/Library/Python/3.9/lib/python/site-packages (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/sibasissahu/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Users/sibasissahu/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.5.0 in /Users/sibasissahu/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in /Users/sibasissahu/Library/Python/3.9/lib/python/site-packages (from scikit-learn) (1.3.2)
WARNING: You are using pip version 21.2.4; however, version 23.3 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sklearn.linear_model import LinearRegression
import pandas as pd
df = pd.read_csv('2023-10-18 10_09pm.csv')
df

,CUSTOMERALIAS,PROVIDERALIAS,METERNUMBER,NORMALIZEDPREVIOUSMETERNUMBER,PODNUMBER,PREVREADDATE,METERREADDATE,NEXTREADDATE,ACCOUNTNUMBER,NORMALIZEDACCOUNTNUMBER
0,COX,OkGAndE,NaN,NaN,NaN,2022-11-15T00:00:00Z,2022-12-14T00:00:00Z,NaN,128360126-6,1283601266
1,COX,OkGAndE,NaN,NaN,NaN,2022-11-23T00:00:00Z,2022-12-22T00:00:00Z,NaN,128019272-3,1280192723
2,COX,OkGAndE,NaN,NaN,NaN,2022-11-10T00:00:00Z,2022-12-09T00:00:00Z,NaN,790599-5,7905995
3,COX,OkGAndE,NaN,NaN,NaN,2022-12-08T00:00:00Z,2023-01-09T00:00:00Z,NaN,3153300-3,31533003
4,COX,OkGAndE,NaN,NaN,NaN,2022-11-10T00:00:00Z,2022-12-09T00:00:00Z,NaN,1718537-2,17185372
...,...,...,...,...,...,...,...,...,...,...
60782,Measurabl,OkGAndE,NaN,NaN,NaN,2023-03-29T00:00:00Z,2023-04-27T00:00:00Z,NaN,132205959-1,1322059591
60783,Measurabl,OkGAndE,NaN,NaN,NaN,2023-01-31T00:00:00Z,2023-02-27T00:00:00Z,NaN,132201562-7,1322015627
60784,Measurabl,OkGAndE,NaN,NaN,NaN,2023-02-28T00:00:00Z,2023-03-28T00:00:00Z,NaN,132205470-9,1322054709
60785,Yardi,AEPOk,763415147,NaN,NaN,2023-06-15T00:00:00Z,2023-07-17T00:00:00Z,NaN,952-364-021-0-3,95236402103
60786,COX,OkGAndE,NaN,NaN,NaN,2023-08-12T00:00:00Z,2023-09-13T00:00:00Z,NaN,127727364-3,1277273643

In [3]:

df.drop(['NORMALIZEDPREVIOUSMETERNUMBER','PODNUMBER','NEXTREADDATE','ACCOUNTNUMBER','METERNUMBER'], axis=1,inplace=True)
df

,CUSTOMERALIAS,PROVIDERALIAS,PREVREADDATE,METERREADDATE,NORMALIZEDACCOUNTNUMBER
0,COX,OkGAndE,2022-11-15T00:00:00Z,2022-12-14T00:00:00Z,1283601266
1,COX,OkGAndE,2022-11-23T00:00:00Z,2022-12-22T00:00:00Z,1280192723
2,COX,OkGAndE,2022-11-10T00:00:00Z,2022-12-09T00:00:00Z,7905995
3,COX,OkGAndE,2022-12-08T00:00:00Z,2023-01-09T00:00:00Z,31533003
4,COX,OkGAndE,2022-11-10T00:00:00Z,2022-12-09T00:00:00Z,17185372
...,...,...,...,...,...
60782,Measurabl,OkGAndE,2023-03-29T00:00:00Z,2023-04-27T00:00:00Z,1322059591
60783,Measurabl,OkGAndE,2023-01-31T00:00:00Z,2023-02-27T00:00:00Z,1322015627
60784,Measurabl,OkGAndE,2023-02-28T00:00:00Z,2023-03-28T00:00:00Z,1322054709
60785,Yardi,AEPOk,2023-06-15T00:00:00Z,2023-07-17T00:00:00Z,95236402103
60786,COX,OkGAndE,2023-08-12T00:00:00Z,2023-09-13T00:00:00Z,1277273643

In [4]:
count_nan_in_df = df.isnull().sum()
print (count_nan_in_df)

CUSTOMERALIAS              0
PROVIDERALIAS              0
PREVREADDATE               0
METERREADDATE              1
NORMALIZEDACCOUNTNUMBER    0
dtype: int64

In [5]:
df = df.dropna(subset=['METERREADDATE'], how='any')

In [6]:
df

,CUSTOMERALIAS,PROVIDERALIAS,PREVREADDATE,METERREADDATE,NORMALIZEDACCOUNTNUMBER
0,COX,OkGAndE,2022-11-15T00:00:00Z,2022-12-14T00:00:00Z,1283601266
1,COX,OkGAndE,2022-11-23T00:00:00Z,2022-12-22T00:00:00Z,1280192723
2,COX,OkGAndE,2022-11-10T00:00:00Z,2022-12-09T00:00:00Z,7905995
3,COX,OkGAndE,2022-12-08T00:00:00Z,2023-01-09T00:00:00Z,31533003
4,COX,OkGAndE,2022-11-10T00:00:00Z,2022-12-09T00:00:00Z,17185372
...,...,...,...,...,...
60782,Measurabl,OkGAndE,2023-03-29T00:00:00Z,2023-04-27T00:00:00Z,1322059591
60783,Measurabl,OkGAndE,2023-01-31T00:00:00Z,2023-02-27T00:00:00Z,1322015627
60784,Measurabl,OkGAndE,2023-02-28T00:00:00Z,2023-03-28T00:00:00Z,1322054709
60785,Yardi,AEPOk,2023-06-15T00:00:00Z,2023-07-17T00:00:00Z,95236402103
60786,COX,OkGAndE,2023-08-12T00:00:00Z,2023-09-13T00:00:00Z,1277273643

In [7]:
df['PREVREADDATE'] = pd.to_datetime(df['PREVREADDATE'])

/var/folders/nb/_cfwndc13yg0dfbc7x27tym00000gn/T/ipykernel_23824/1074208432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PREVREADDATE'] = pd.to_datetime(df['PREVREADDATE'])

In [8]:
df['METERREADDATE'] = pd.to_datetime(df['METERREADDATE'])
df

/var/folders/nb/_cfwndc13yg0dfbc7x27tym00000gn/T/ipykernel_23824/3017588121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['METERREADDATE'] = pd.to_datetime(df['METERREADDATE'])

,CUSTOMERALIAS,PROVIDERALIAS,PREVREADDATE,METERREADDATE,NORMALIZEDACCOUNTNUMBER
0,COX,OkGAndE,2022-11-15 00:00:00+00:00,2022-12-14 00:00:00+00:00,1283601266
1,COX,OkGAndE,2022-11-23 00:00:00+00:00,2022-12-22 00:00:00+00:00,1280192723
2,COX,OkGAndE,2022-11-10 00:00:00+00:00,2022-12-09 00:00:00+00:00,7905995
3,COX,OkGAndE,2022-12-08 00:00:00+00:00,2023-01-09 00:00:00+00:00,31533003
4,COX,OkGAndE,2022-11-10 00:00:00+00:00,2022-12-09 00:00:00+00:00,17185372
...,...,...,...,...,...
60782,Measurabl,OkGAndE,2023-03-29 00:00:00+00:00,2023-04-27 00:00:00+00:00,1322059591
60783,Measurabl,OkGAndE,2023-01-31 00:00:00+00:00,2023-02-27 00:00:00+00:00,1322015627
60784,Measurabl,OkGAndE,2023-02-28 00:00:00+00:00,2023-03-28 00:00:00+00:00,1322054709
60785,Yardi,AEPOk,2023-06-15 00:00:00+00:00,2023-07-17 00:00:00+00:00,95236402103
60786,COX,OkGAndE,2023-08-12 00:00:00+00:00,2023-09-13 00:00:00+00:00,1277273643

In [9]:
print(df.dtypes)

CUSTOMERALIAS                           object
PROVIDERALIAS                           object
PREVREADDATE               datetime64[ns, UTC]
METERREADDATE              datetime64[ns, UTC]
NORMALIZEDACCOUNTNUMBER                 object
dtype: object

In [11]:
df['month_year'] = df['METERREADDATE'].dt.strftime('%m-%Y')

/var/folders/nb/_cfwndc13yg0dfbc7x27tym00000gn/T/ipykernel_23824/898819530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month_year'] = df['METERREADDATE'].dt.strftime('%m-%Y')

In [13]:
df

,CUSTOMERALIAS,PROVIDERALIAS,PREVREADDATE,METERREADDATE,NORMALIZEDACCOUNTNUMBER,month_year
0,COX,OkGAndE,2022-11-15 00:00:00+00:00,2022-12-14 00:00:00+00:00,1283601266,12-2022
1,COX,OkGAndE,2022-11-23 00:00:00+00:00,2022-12-22 00:00:00+00:00,1280192723,12-2022
2,COX,OkGAndE,2022-11-10 00:00:00+00:00,2022-12-09 00:00:00+00:00,7905995,12-2022
3,COX,OkGAndE,2022-12-08 00:00:00+00:00,2023-01-09 00:00:00+00:00,31533003,01-2023
4,COX,OkGAndE,2022-11-10 00:00:00+00:00,2022-12-09 00:00:00+00:00,17185372,12-2022
...,...,...,...,...,...,...
60782,Measurabl,OkGAndE,2023-03-29 00:00:00+00:00,2023-04-27 00:00:00+00:00,1322059591,04-2023
60783,Measurabl,OkGAndE,2023-01-31 00:00:00+00:00,2023-02-27 00:00:00+00:00,1322015627,02-2023
60784,Measurabl,OkGAndE,2023-02-28 00:00:00+00:00,2023-03-28 00:00:00+00:00,1322054709,03-2023
60785,Yardi,AEPOk,2023-06-15 00:00:00+00:00,2023-07-17 00:00:00+00:00,95236402103,07-2023
60786,COX,OkGAndE,2023-08-12 00:00:00+00:00,2023-09-13 00:00:00+00:00,1277273643,09-2023

In [14]:
df['NORMALIZEDACCOUNTNUMBER'].nunique()

8319

In [17]:
df['INTERVAL'] = (df['METERREADDATE'] - df['PREVREADDATE']).dt.days
df

/var/folders/nb/_cfwndc13yg0dfbc7x27tym00000gn/T/ipykernel_23824/2890646437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INTERVAL'] = (df['METERREADDATE'] - df['PREVREADDATE']).dt.days

,CUSTOMERALIAS,PROVIDERALIAS,PREVREADDATE,METERREADDATE,NORMALIZEDACCOUNTNUMBER,month_year,INTERVAL
0,COX,OkGAndE,2022-11-15 00:00:00+00:00,2022-12-14 00:00:00+00:00,1283601266,12-2022,29
1,COX,OkGAndE,2022-11-23 00:00:00+00:00,2022-12-22 00:00:00+00:00,1280192723,12-2022,29
2,COX,OkGAndE,2022-11-10 00:00:00+00:00,2022-12-09 00:00:00+00:00,7905995,12-2022,29
3,COX,OkGAndE,2022-12-08 00:00:00+00:00,2023-01-09 00:00:00+00:00,31533003,01-2023,32
4,COX,OkGAndE,2022-11-10 00:00:00+00:00,2022-12-09 00:00:00+00:00,17185372,12-2022,29
...,...,...,...,...,...,...,...
60782,Measurabl,OkGAndE,2023-03-29 00:00:00+00:00,2023-04-27 00:00:00+00:00,1322059591,04-2023,29
60783,Measurabl,OkGAndE,2023-01-31 00:00:00+00:00,2023-02-27 00:00:00+00:00,1322015627,02-2023,27
60784,Measurabl,OkGAndE,2023-02-28 00:00:00+00:00,2023-03-28 00:00:00+00:00,1322054709,03-2023,28
60785,Yardi,AEPOk,2023-06-15 00:00:00+00:00,2023-07-17 00:00:00+00:00,95236402103,07-2023,32
60786,COX,OkGAndE,2023-08-12 00:00:00+00:00,2023-09-13 00:00:00+00:00,1277273643,09-2023,32

In [18]:
value_counts = df['NORMALIZEDACCOUNTNUMBER'].value_counts()
value_counts

NORMALIZEDACCOUNTNUMBER
95366411320    35
95266508019    27
95190940304    27
95029431012    24
95246672638    24
               ..
1325532693      1
1325395299      1
1324745932      1
1325143681      1
95259899300     1
Name: count, Length: 8319, dtype: int64

In [19]:
acc_numbers_to_drop = value_counts[value_counts < 6].index
acc_numbers_to_drop

Index(['1282621596', '1321361295', '1324401973', '95599010311', '1324024189',
       '1324883139', '1316194206', '1323796381', '95319574208', '1321360917',
       ...
       '1325294856', '1325568739', '1325401816', '1325111233', '1324926235',
       '1325532693', '1325395299', '1324745932', '1325143681', '95259899300'],
      dtype='object', name='NORMALIZEDACCOUNTNUMBER', length=2325)

In [20]:
df = df[~df['NORMALIZEDACCOUNTNUMBER'].isin(acc_numbers_to_drop)]
df

,CUSTOMERALIAS,PROVIDERALIAS,PREVREADDATE,METERREADDATE,NORMALIZEDACCOUNTNUMBER,month_year,INTERVAL
0,COX,OkGAndE,2022-11-15 00:00:00+00:00,2022-12-14 00:00:00+00:00,1283601266,12-2022,29
1,COX,OkGAndE,2022-11-23 00:00:00+00:00,2022-12-22 00:00:00+00:00,1280192723,12-2022,29
2,COX,OkGAndE,2022-11-10 00:00:00+00:00,2022-12-09 00:00:00+00:00,7905995,12-2022,29
3,COX,OkGAndE,2022-12-08 00:00:00+00:00,2023-01-09 00:00:00+00:00,31533003,01-2023,32
4,COX,OkGAndE,2022-11-10 00:00:00+00:00,2022-12-09 00:00:00+00:00,17185372,12-2022,29
...,...,...,...,...,...,...,...
60782,Measurabl,OkGAndE,2023-03-29 00:00:00+00:00,2023-04-27 00:00:00+00:00,1322059591,04-2023,29
60783,Measurabl,OkGAndE,2023-01-31 00:00:00+00:00,2023-02-27 00:00:00+00:00,1322015627,02-2023,27
60784,Measurabl,OkGAndE,2023-02-28 00:00:00+00:00,2023-03-28 00:00:00+00:00,1322054709,03-2023,28
60785,Yardi,AEPOk,2023-06-15 00:00:00+00:00,2023-07-17 00:00:00+00:00,95236402103,07-2023,32
60786,COX,OkGAndE,2023-08-12 00:00:00+00:00,2023-09-13 00:00:00+00:00,1277273643,09-2023,32

In [21]:
new_month_wise_df2=df.pivot_table(values='INTERVAL', index=['month_year'], columns=['NORMALIZEDACCOUNTNUMBER','CUSTOMERALIAS','PROVIDERALIAS'],  aggfunc=sum).T.reset_index()
new_month_wise_df2

month_year,NORMALIZEDACCOUNTNUMBER,CUSTOMERALIAS,PROVIDERALIAS,01-2023,02-2023,03-2023,04-2023,05-2023,06-2023,07-2023,08-2023,09-2023,10-2022,10-2023,11-2022,12-2022
0,1007657,THGEnergy,OkGAndE,NaN,NaN,NaN,29.0,28.0,32.0,29.0,30.0,30.0,NaN,28.0,NaN,NaN
1,1052745,COX,OkGAndE,31.0,27.0,28.0,29.0,28.0,32.0,29.0,30.0,30.0,NaN,NaN,31.0,29.0
2,1055961,THGEnergy,OkGAndE,NaN,NaN,NaN,32.0,27.0,30.0,32.0,27.0,NaN,NaN,27.0,NaN,NaN
3,1074723,THGEnergy,OkGAndE,NaN,NaN,NaN,29.0,28.0,32.0,29.0,30.0,30.0,NaN,28.0,NaN,NaN
4,1109297,THGEnergy,OkGAndE,NaN,NaN,NaN,29.0,30.0,30.0,31.0,28.0,30.0,NaN,30.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,95998203418,BrightPower,AEPOk,34.0,29.0,29.0,32.0,29.0,30.0,32.0,29.0,30.0,NaN,31.0,NaN,31.0
6034,95998364905,AMSBilling,AEPOk,34.0,29.0,29.0,32.0,28.0,31.0,45.0,NaN,NaN,NaN,NaN,NaN,31.0
6035,95999524804,COX,AEPOk,34.0,29.0,29.0,31.0,30.0,30.0,32.0,29.0,30.0,NaN,31.0,NaN,31.0
6036,95999911704,AMSBilling,AEPOk,34.0,29.0,29.0,32.0,29.0,30.0,28.0,NaN,NaN,NaN,NaN,NaN,31.0
6037,974535,THGEnergy,OkGAndE,NaN,NaN,NaN,29.0,31.0,29.0,31.0,28.0,30.0,NaN,NaN,NaN,NaN

In [22]:
column_headers = list(new_month_wise_df2.columns)
column_headers1=[]
for i in range(len(column_headers)):
    if '-' in column_headers[i]:
        column_headers1.append(column_headers[i])
column_headers1

['01-2023',
 '02-2023',
 '03-2023',
 '04-2023',
 '05-2023',
 '06-2023',
 '07-2023',
 '08-2023',
 '09-2023',
 '10-2022',
 '10-2023',
 '11-2022',
 '12-2022']

In [24]:
from datetime import datetime
column_headers1.sort(key=lambda date: datetime.strptime(date, "%m-%Y"))
column_headers1

['10-2022',
 '11-2022',
 '12-2022',
 '01-2023',
 '02-2023',
 '03-2023',
 '04-2023',
 '05-2023',
 '06-2023',
 '07-2023',
 '08-2023',
 '09-2023',
 '10-2023']

In [25]:
column_headers1.append('NORMALIZEDACCOUNTNUMBER')

In [26]:
column_headers1

['10-2022',
 '11-2022',
 '12-2022',
 '01-2023',
 '02-2023',
 '03-2023',
 '04-2023',
 '05-2023',
 '06-2023',
 '07-2023',
 '08-2023',
 '09-2023',
 '10-2023',
 'NORMALIZEDACCOUNTNUMBER']

In [392]:
column_headers1.sort(key=lambda date: datetime.strptime(date, "%m-%Y"))

In [27]:
new_month_wise_df1 =new_month_wise_df2[column_headers1].apply(lambda row: row.fillna(row.median()), axis=1)

In [28]:
new_month_wise_df1

month_year,10-2022,11-2022,12-2022,01-2023,02-2023,03-2023,04-2023,05-2023,06-2023,07-2023,08-2023,09-2023,10-2023,NORMALIZEDACCOUNTNUMBER
0,29.5,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,1007657
1,29.5,31.0,29.0,31.0,27.0,28.0,29.0,28.0,32.0,29.0,30.0,30.0,29.5,1052745
2,30.0,30.0,30.0,30.0,30.0,30.0,32.0,27.0,30.0,32.0,27.0,30.0,27.0,1055961
3,29.5,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,1074723
4,30.0,30.0,30.0,30.0,30.0,30.0,29.0,30.0,30.0,31.0,28.0,30.0,30.0,1109297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,30.5,30.5,31.0,34.0,29.0,29.0,32.0,29.0,30.0,32.0,29.0,30.0,31.0,95998203418
6034,31.0,31.0,31.0,34.0,29.0,29.0,32.0,28.0,31.0,45.0,31.0,31.0,31.0,95998364905
6035,30.5,30.5,31.0,34.0,29.0,29.0,31.0,30.0,30.0,32.0,29.0,30.0,31.0,95999524804
6036,30.0,30.0,31.0,34.0,29.0,29.0,32.0,29.0,30.0,28.0,30.0,30.0,30.0,95999911704
6037,30.0,30.0,30.0,30.0,30.0,30.0,29.0,31.0,29.0,31.0,28.0,30.0,30.0,974535

In [29]:
df_merged = new_month_wise_df1.merge(new_month_wise_df2[['NORMALIZEDACCOUNTNUMBER','PROVIDERALIAS']])

In [30]:
df_merged

month_year,10-2022,11-2022,12-2022,01-2023,02-2023,03-2023,04-2023,05-2023,06-2023,07-2023,08-2023,09-2023,10-2023,NORMALIZEDACCOUNTNUMBER,PROVIDERALIAS
0,29.5,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,1007657,OkGAndE
1,29.5,31.0,29.0,31.0,27.0,28.0,29.0,28.0,32.0,29.0,30.0,30.0,29.5,1052745,OkGAndE
2,30.0,30.0,30.0,30.0,30.0,30.0,32.0,27.0,30.0,32.0,27.0,30.0,27.0,1055961,OkGAndE
3,29.5,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,1074723,OkGAndE
4,30.0,30.0,30.0,30.0,30.0,30.0,29.0,30.0,30.0,31.0,28.0,30.0,30.0,1109297,OkGAndE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6121,30.5,30.5,31.0,34.0,29.0,29.0,32.0,29.0,30.0,32.0,29.0,30.0,31.0,95998203418,AEPOk
6122,31.0,31.0,31.0,34.0,29.0,29.0,32.0,28.0,31.0,45.0,31.0,31.0,31.0,95998364905,AEPOk
6123,30.5,30.5,31.0,34.0,29.0,29.0,31.0,30.0,30.0,32.0,29.0,30.0,31.0,95999524804,AEPOk
6124,30.0,30.0,31.0,34.0,29.0,29.0,32.0,29.0,30.0,28.0,30.0,30.0,30.0,95999911704,AEPOk
6125,30.0,30.0,30.0,30.0,30.0,30.0,29.0,31.0,29.0,31.0,28.0,30.0,30.0,974535,OkGAndE

In [31]:
prepared_Set = df_merged
prepared_Set = prepared_Set.drop(['10-2022'],axis=1)
prepared_Set

month_year,11-2022,12-2022,01-2023,02-2023,03-2023,04-2023,05-2023,06-2023,07-2023,08-2023,09-2023,10-2023,NORMALIZEDACCOUNTNUMBER,PROVIDERALIAS
0,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,1007657,OkGAndE
1,31.0,29.0,31.0,27.0,28.0,29.0,28.0,32.0,29.0,30.0,30.0,29.5,1052745,OkGAndE
2,30.0,30.0,30.0,30.0,30.0,32.0,27.0,30.0,32.0,27.0,30.0,27.0,1055961,OkGAndE
3,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,1074723,OkGAndE
4,30.0,30.0,30.0,30.0,30.0,29.0,30.0,30.0,31.0,28.0,30.0,30.0,1109297,OkGAndE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6121,30.5,31.0,34.0,29.0,29.0,32.0,29.0,30.0,32.0,29.0,30.0,31.0,95998203418,AEPOk
6122,31.0,31.0,34.0,29.0,29.0,32.0,28.0,31.0,45.0,31.0,31.0,31.0,95998364905,AEPOk
6123,30.5,31.0,34.0,29.0,29.0,31.0,30.0,30.0,32.0,29.0,30.0,31.0,95999524804,AEPOk
6124,30.0,31.0,34.0,29.0,29.0,32.0,29.0,30.0,28.0,30.0,30.0,30.0,95999911704,AEPOk
6125,30.0,30.0,30.0,30.0,30.0,29.0,31.0,29.0,31.0,28.0,30.0,30.0,974535,OkGAndE

In [32]:
from sklearn.preprocessing import OneHotEncoder

cat_cols = ["PROVIDERALIAS"]
cat_cols_encoded = []
for col in cat_cols:
  cat_cols_encoded += [f"{col[0]}_{cat}" for cat in list(prepared_Set[col].unique())]

cat_cols_encoded

['P_OkGAndE', 'P_AEPOk']

In [33]:
oh_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoded_cols = oh_encoder.fit_transform(prepared_Set[cat_cols])
df_enc = pd.DataFrame(encoded_cols, columns=cat_cols_encoded)
df_oh = prepared_Set.join(df_enc)
df_oh

/Users/sibasissahu/Library/Python/3.9/lib/python/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,11-2022,12-2022,01-2023,02-2023,03-2023,04-2023,05-2023,06-2023,07-2023,08-2023,09-2023,10-2023,NORMALIZEDACCOUNTNUMBER,PROVIDERALIAS,P_OkGAndE,P_AEPOk
0,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,1007657,OkGAndE,0.0,1.0
1,31.0,29.0,31.0,27.0,28.0,29.0,28.0,32.0,29.0,30.0,30.0,29.5,1052745,OkGAndE,0.0,1.0
2,30.0,30.0,30.0,30.0,30.0,32.0,27.0,30.0,32.0,27.0,30.0,27.0,1055961,OkGAndE,0.0,1.0
3,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,1074723,OkGAndE,0.0,1.0
4,30.0,30.0,30.0,30.0,30.0,29.0,30.0,30.0,31.0,28.0,30.0,30.0,1109297,OkGAndE,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6121,30.5,31.0,34.0,29.0,29.0,32.0,29.0,30.0,32.0,29.0,30.0,31.0,95998203418,AEPOk,1.0,0.0
6122,31.0,31.0,34.0,29.0,29.0,32.0,28.0,31.0,45.0,31.0,31.0,31.0,95998364905,AEPOk,1.0,0.0
6123,30.5,31.0,34.0,29.0,29.0,31.0,30.0,30.0,32.0,29.0,30.0,31.0,95999524804,AEPOk,1.0,0.0
6124,30.0,31.0,34.0,29.0,29.0,32.0,29.0,30.0,28.0,30.0,30.0,30.0,95999911704,AEPOk,1.0,0.0
6125,30.0,30.0,30.0,30.0,30.0,29.0,31.0,29.0,31.0,28.0,30.0,30.0,974535,OkGAndE,0.0,1.0

In [34]:
prepared_Set = df_oh.drop(['NORMALIZEDACCOUNTNUMBER','PROVIDERALIAS'],axis=1)
prepared_Set

,11-2022,12-2022,01-2023,02-2023,03-2023,04-2023,05-2023,06-2023,07-2023,08-2023,09-2023,10-2023,P_OkGAndE,P_AEPOk
0,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,0.0,1.0
1,31.0,29.0,31.0,27.0,28.0,29.0,28.0,32.0,29.0,30.0,30.0,29.5,0.0,1.0
2,30.0,30.0,30.0,30.0,30.0,32.0,27.0,30.0,32.0,27.0,30.0,27.0,0.0,1.0
3,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,28.0,0.0,1.0
4,30.0,30.0,30.0,30.0,30.0,29.0,30.0,30.0,31.0,28.0,30.0,30.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6121,30.5,31.0,34.0,29.0,29.0,32.0,29.0,30.0,32.0,29.0,30.0,31.0,1.0,0.0
6122,31.0,31.0,34.0,29.0,29.0,32.0,28.0,31.0,45.0,31.0,31.0,31.0,1.0,0.0
6123,30.5,31.0,34.0,29.0,29.0,31.0,30.0,30.0,32.0,29.0,30.0,31.0,1.0,0.0
6124,30.0,31.0,34.0,29.0,29.0,32.0,29.0,30.0,28.0,30.0,30.0,30.0,1.0,0.0
6125,30.0,30.0,30.0,30.0,30.0,29.0,31.0,29.0,31.0,28.0,30.0,30.0,0.0,1.0

In [35]:
data_x=prepared_Set.loc[:, prepared_Set.columns != '10-2023']
data_y=prepared_Set['10-2023']

In [36]:
data_y

0       28.0
1       29.5
2       27.0
3       28.0
4       30.0
        ...
6121    31.0
6122    31.0
6123    31.0
6124    30.0
6125    30.0
Name: 10-2023, Length: 6126, dtype: float64

In [82]:
from sklearn.model_selection import train_test_split

In [144]:
x_train, x_test,y_train,y_test = train_test_split(data_x,data_y,test_size =0.3)
# print the data
x_train

,11-2022,12-2022,01-2023,02-2023,03-2023,04-2023,05-2023,06-2023,07-2023,08-2023,09-2023,P_OkGAndE,P_AEPOk
2788,29.0,29.0,29.0,29.0,29.0,29.0,14.0,32.0,29.0,28.0,32.0,0.0,1.0
323,30.0,30.0,30.0,30.0,30.0,29.0,30.0,30.0,31.0,28.0,30.0,0.0,1.0
2253,31.0,31.0,31.0,31.0,31.0,31.0,28.0,32.0,29.0,28.0,32.0,0.0,1.0
5651,31.0,31.0,34.0,29.0,31.0,30.0,29.0,30.0,32.0,29.0,32.0,1.0,0.0
1025,30.0,31.0,30.0,28.0,27.0,32.0,27.0,32.0,30.0,27.0,33.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5458,31.0,33.0,32.0,31.0,29.0,30.0,29.0,32.0,30.0,29.0,32.0,1.0,0.0
2437,29.5,29.5,29.5,29.5,29.5,29.0,28.0,32.0,29.0,30.0,30.0,0.0,1.0
187,27.0,29.0,33.0,27.0,28.0,31.0,28.0,30.0,31.0,28.0,32.0,0.0,1.0
4416,31.0,33.0,32.0,31.0,29.0,30.0,28.0,33.0,30.0,29.0,31.0,1.0,0.0
3775,30.0,30.0,30.0,30.0,30.0,29.0,28.0,32.0,29.0,30.0,30.0,0.0,1.0

In [145]:
clf = LinearRegression()

In [146]:
clf.fit(x_train,y_train)

LinearRegression()

In [147]:
clf.predict(x_test)

array([30.31396484, 30.66259766, 29.05029297, ..., 30.34960938,
       29.09814453, 29.17480469])

In [148]:
clf.score(x_test,y_test)

0.7241157096438087

In [152]:
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
pred_train_lr= clf.predict(x_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_lr)))
print(r2_score(y_train, pred_train_lr))

pred_test_lr= clf.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_lr)))
print(r2_score(y_test, pred_test_lr))

1.2666947980369234
0.6779962300061768
1.3044158430916863
0.7241157096438087

In [119]:
type(y_train)

pandas.core.series.Series

In [129]:
##for i in range(len(y_train)):
print(y_train,np.ceil(pred_train_lr))

4453    30.0
269     29.5
898     27.0
2514    30.0
337     29.5
        ...
738     29.0
5753    29.0
4931    29.0
5627    29.0
4461    31.0
Name: 10-2023, Length: 4900, dtype: float64 [30. 30. 30. ... 29. 30. 31.]

In [153]:
from sklearn.svm import SVR

In [156]:
x_Array=x_train.to_numpy()
y_Array=y_train.to_numpy()
y_Array.shape =[4288,1]

In [155]:
y_Array.shape

(4288,)

In [157]:
#Create a svm Classifier
regressor = SVR(kernel = 'rbf')
regressor.fit(x_Array,y_Array)

/Users/sibasissahu/Library/Python/3.9/lib/python/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

#Train the model using the training sets
clf.fit(X_train, y_train)

In [158]:
#Predict the response for test dataset
y_pred = regressor.predict(x_test.to_numpy())

In [159]:
y_pred

array([30.40781686, 31.9069257 , 29.17243938, ..., 30.39988222,
       29.20057885, 29.39979268])

In [160]:
y_test.shape

(1838,)

In [161]:
y_a=y_test.to_numpy().shape=[1838,1]

In [162]:
regressor.score(x_test.to_numpy(),y_test)

0.2391121433590817

In [163]:
pred_train_lr1= regressor.predict(x_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_lr1)))
print(r2_score(y_train, pred_train_lr))

pred_test_lr1= regressor.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_lr1))) 
print(r2_score(y_test, pred_test_lr))

/Users/sibasissahu/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:458: UserWarning: X has feature names, but SVR was fitted without feature names
  warnings.warn(

1.719491406679709
0.6779962300061768

/Users/sibasissahu/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:458: UserWarning: X has feature names, but SVR was fitted without feature names
  warnings.warn(

2.1662715989954333
0.7241157096438087